*.xst
_ngo
*.xmsgs
*.bgn
#atlys_ddr_test.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.par
*.pcf
*.prj
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xst
*.map
*.mrp
*.ngm
*.csv
*_pad.txt
*_summary.html
*.xrpt
*.bld
*_usage.xml
usage_statistics_webtalk.html
*.log
webtalk_pn.xml
xlnx_auto_0_xdb
xst
*_xdb
*_statistics.html
*_summary.xml
*.xreport
*/tmp/*
/ISE Project Files/mainController_envsettings.html
/ISE Project Files/ipcore_dir/tmp/_cg/xil_7076_5.in
/ISE Project Files/ipcore_dir/tmp/_cg/xil_7076_5.out
/ISE Project Files/mainController.pad
/ISE Project Files/mainController.ptwx
/ISE Project Files/mainController.xpi
/ISE Project Files/mainController_bitgen.xwbt
/ISE Project Files/maincontroller.bit